/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom right, #3498db, #9b59b6);
    margin: 0;
    padding: 0;
}

h1.register-heading {
    color: #000; /* Black color for Register text */
    font-size: 36px;
    text-align: center;
    padding-top: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

h2 {
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

button[type="submit"] {
    background-color: #007bff; /* Blue color for Sign Up button */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

/* Alert styles */
.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.alert-success {
    background-color: #2ecc71;
    color: #fff;
}

.alert-danger {
    background-color: #e74c3c;
    color: #fff;
}
